$c-blue: rgb(116,202,254);
$c-background: #15202b;
$c-hover: rgb(22, 45, 64);
$c-text-blue: rgb(29, 161, 242);
$c-tweet-border: rgb(56, 68, 77);
$c-text-gray: rgb(136, 153, 166);
$c-search-content: rgb(37, 51, 65);
$c-content: rgb(25, 39, 52);